swagger: "2.0"
info:
  description: "CONSULTA INTEGRADA DE COMPROBANTE DE PAGO."
  version: "1.0.0"
  title: "SUNAT API"
  contact:
    email: "giansalex@gmail.com"
host: "api-seguridad.sunat.gob.pe"
basePath: "/v1"
tags:
- name: "auth"
  description: "Credenciales"
- name: "consulta"
  description: "Consulta integrada"
schemes:
- "https"
paths:
  '/clientesextranet/{client_id}/oauth2/token/':
    post:
      tags:
      - "auth"
      summary: "Generar un nuevo token"
      description: ""
      operationId: "getToken"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "client_id"
        in: "path"
        description: "El client_id generado en menú sol"
        required: true
        type: "string"
      - name: "grant_type"
        in: "formData"
        default: "client_credentials"
        required: true
        type: "string"
      - name: "scope"
        in: "formData"
        default: "https://api.sunat.gob.pe/v1/contribuyente/contribuyentes"
        required: true
        type: "string"
      - name: "client_id"
        in: "formData"
        description: "client_id generado en menú sol"
        required: true
        type: "string"
      - name: "client_secret"
        in: "formData"
        description: "client_secret generado en menú sol"
        required: true
        type: "string"
      responses:
        "200":
          description: "operacion exitosa"
          schema:
            $ref: "#/definitions/ApiToken"
  '/contribuyente/contribuyentes/{ruc}/validarcomprobante':
    post:
      tags:
      - "consulta"
      summary: "Consulta de un comprobante"
      description: ""
      operationId: "consultarCpe"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "ruc"
        in: "path"
        description: "RUC de quién realiza la consulta"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Parámetros de la consulta"
        required: true
        schema:
          $ref: "#/definitions/CpeFilter"
      responses:
        "200":
          description: "operacion exitosa"
          schema:
            $ref: "#/definitions/CpeResponse"
      security:
      - sunat_auth: []

securityDefinitions:
  sunat_auth:
    type: "apiKey"
    name: "Authorization"
    in: "header"
definitions:
  CpeFilter:
    type: "object"
    required: 
      - numRuc
      - codComp
      - numeroSerie
      - numero
      - fechaEmision
    properties:
      numRuc:
        type: "string"
        description: "Número de RUC emisor comprobante"
      codComp:
        type: "string"
        description: "Código de tipo de comprobante"
      numeroSerie:
        type: "string"
        description: "Número de serie del comprobante"
      numero:
        type: "string"
        description: "Número del comprobante"
      fechaEmision:
        type: "string"
        description: "Fecha de emisión del comprobante"
      monto:
        type: "string"
        description: "Monto total del comprobante"
  CpeResponse:
    type: "object"
    properties:
      success:
        type: "boolean"
        description: "Estado consulta"
      message:
        type: "string"
        description: "Mensaje del estado de la operación"
      data:
        $ref: "#/definitions/CpeStatus"
      errorCode:
        type: "string"
        description: "Código de Error"
  
  CpeStatus:
    type: "object"
    properties:
      estadoCp:
        type: "string"
        description: "Estado del comprobante"
      estadoRuc:
        type: "string"
        description: "Estado del contribuyente"
      condDomiRuc:
        type: "string"
        description: "Condición Domiciliaria del Contribuyente"
      observaciones:
        type: "array"
        items:
          type: "string"
        description: "Observaciones"
        
  ApiToken:
    type: "object"
    properties:
      access_token:
        type: "string"
      token_type:
        type: "string"
      expires_in:
        type: "integer"
        format: "int32"
        description: "El tiempo de expiración en segundos. Concluído el tiempo podrá generar un nuevo token"
externalDocs:
  description: "MANUAL DE CONSULTA INTEGRADA DE COMPROBANTE DE PAGO POR SERVICIO WEB"
  url: "https://orientacion.sunat.gob.pe/images/imagenes/contenido/comprobantes/Manual-de-Consulta-Integrada-de-Comprobante-de-Pago-por-ServicioWEB.pdf"
